.App {
  width: 90%;
  margin: 0 auto;
}

.dropdown-toggle {
  padding: 10px 40px;
  border-radius: 0 !important;
}

.modal-content {
  border-radius: 0 !important;
}

/* Admin Table ============ */
.sr-only {
  display: none;
}
.filter-label {
  margin-left: 1rem;
  border-radius: 0 !important;
}
#select-filter-column-status,
#select-filter-column-applicantType {
  border-radius: 0;
}
.pagination { 
  border-radius: 0 !important;
}
/* =========================== */
