
.inputContainer {
 max-width: 800px;
    margin: 80px auto;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.fee {
    font-size: 0.8rem;
}

.outputs {
    text-align: right;
    margin-top: 10px;
}

.outputsValue {
    border: 1px solid #00843D;
    padding: 8px;
    font-weight: bold;
}


