.container {
    display: flex;
    margin-top: 30px;
    justify-content: center;
    gap: 8rem;
    font-size: 1.1rem;
}

.title {
    font-weight: bold;
}

.heading {
    text-align: center;
    background-color: #00843D;
    color: #ffffff;
    margin-top: 40px;
    padding: 20px;
}

.url {
    text-align: center;
    border-top: 2px solid #00843D;
    margin-top: 30px;
    padding: 15px;
    font-weight: 600;
}

.sumCard {
    box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
    width: 120%;
}

.infoCard {
    width: 110%;
}

/* mobil and small screens */
@media (max-width: 44em) {
    .container {
        display: flex;
        flex-direction: column;
        margin-top: 30px;
        justify-content: center;
        gap: 3rem;
    }
    .infoCard {
        width: 100%;
        text-align: center;
    }
    .sumCard {
        box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
        width: 100%;
        text-align: center;
    }
}

@media (max-width: 64em) {
    .infoCard {
        width: 100%;
    }
    .sumCard {
        box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
        width: 100%;
    }
}