.container {
    display: flex;
    margin-top: 30px;
    justify-content: center;
    gap: 10rem;
}

.title {
    font-weight: bold;
}

.heading {
    text-align: center;
    background-color: #00843D;
    color: #ffffff;
    margin-top: 40px;
    padding: 20px;
}

.url {
    text-align: center;
    border-top: 2px solid #00843D;
    margin-top: 30px;
    padding: 15px;
    font-weight: 600;
}

/* mobil and small screens */
@media (max-width: 43em) {
    .container {
        display: flex;
        flex-direction: column;
        margin-top: 30px;
        justify-content: center;
        gap: 3rem;
    }
}